/* ===== Code written by Ajele Oluwadamilare (SH-IT-24440)===== */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #181e2a;
}

.container {
	color: #fff;
	margin: 40px 8%;
}

/* ========= Top Nav ========= */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-links ul {
	width: 300px;
	font: 300 18px calibri;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #87aca5;
}

.nav-links ul li:hover {
	color: #fff;
}

.nav-links ul li,
.logo {
	cursor: pointer;
}

/* ========= Main ========= */

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main img {
	margin: 50px 0px;
	height: 60%;
	width: 60%;
}

.text {
	width: 60%;
	text-align: center;
}

.text .head {
	font: 900 38px calibri;
	line-height: 55px;
	margin-bottom: 30px;
}

.text .desc {
	margin-bottom: 25px;
	font: 200 25px calibri;
}

.btn {
	padding: 18px 15px;
	border-radius: 30px;
	border: none;
	outline: none;
	background-color: #40aed1;
	color: #fff;
	font: 700 18px calibri;
	width: 300px;
	cursor: pointer;
}

.btn:hover {
	background-color: skyblue;
	transition: 0.3s linear ease;
}

/* ========= Details ========= */

.details-container {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 150px;
}

.details {
	height: 100vh;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(2, 1fr);
}

.detail {
	padding: 30px;
	text-align: center;
	width: 500px;
}

.detail img {
	height: 80px;
	margin-bottom: 30px;
}

.detail p {
	font: 600 24px calibri;
	margin-bottom: 10px;
}

.detail span {
	font: 100 18px calibri;
}

/* ========= Collaboration ========= */
.collaboration {
	margin: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.collaboration > img {
	width: 50%;
}

.collaboration-text {
	margin-left: 60px;
}

.collaboration-text p {
	font: 900 38px calibri;
	width: 300px;
	margin-bottom: 20px;
}

.c-div span {
	display: flex;
	margin-bottom: 20px;
	font: 100 18px calibri;
}

.c-div button {
	font: 100 18px calibri;
	color: #40aed1;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #40aed1;
	padding-bottom: 5px;
	cursor: pointer;
}

.c-div button:hover {
	transition: 0.3s linear ease;
	color: skyblue;
}

/* ==========Testimonies======== */
.testimonies {
	position: relative;
	height: 60vh;
	margin-top: 200px;
	margin-bottom: 150px;
}

.testimonies > img {
	position: absolute;
	z-index: -1;
	margin-top: -35px;
	margin-left: -10px;
}

.testifiers {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profiles {
	width: 350px;
	font: 300 16px calibri;
	padding: 25px 15px;
	background-color: #21293c;
	box-shadow: 10px 10px 2px #1b232e;
}

.profile {
	width: 180px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.name {
	font-size: 14px;
}

/* ==========Subscribe======== */
.subscribe {
	background-color: #1b2330;
	padding: 20px;
	height: 40vh;
	width: 60%;
	margin: 13%;
	margin-top: -150px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 8px 8px 4px #121824;
	z-index: 1;
	position: absolute;
}

.subscribe p {
	font: 900 38px calibri;
	margin-top: 20px;
	margin-bottom: 10px;
}

.subscribe span {
	font: 300 19px calibri;
	color: #87aca5;
}

.form {
	margin-top: 35px;
}

.form input {
	padding: 15px;
	width: 400px;
	border-radius: 50px;
	border: none;
	outline: none;
}

.form input::placeholder {
	color: slategrey;
	padding-left: 10px;
}

.form button {
	padding: 12px;
	border-radius: 30px;
	margin-left: 20px;
	border: none;
	outline: none;
	background-color: #40aed1;
	color: #fff;
	font: 700 18px calibri;
	width: 200px;
	cursor: pointer;
}

.form button:hover {
	background-color: skyblue;
	transition: 0.3s linear ease;
}

/* ==========Footer======== */

.footer {
	height: 85vh;
	background-color: #0c1524;
	color: #87aca5;
	padding: 0px 8%;
}

.footer > img {
	margin-top: 200px;
}

.footer-tabs,
.location,
.socials,
.footer-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.location {
	width: 400px;
	align-items: flex-start;
	font: 500 18px calibri;
}

.location img {
	margin: 10px 40px 0 0;
}

.message {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50px;
	width: 200px;
}

.phone,
.email {
	font: 500 16px calibri;
	display: flex;
	justify-content: space-around;
	align-items: left;
}

.footer-links {
	align-items: flex-start;
	width: 200px;
}
.footer-links ul {
	margin-top: 60px;
	list-style-type: none;
	font: 500 20px calibri;
}
.footer-links ul li {
	cursor: pointer;
	margin-bottom: 10px;
}
.footer-links ul li:hover {
	color: #fff;
}

.socials {
	width: 200px;
}

.social {
	margin-top: 20px;
	border: 1.5px solid #fff;
	border-radius: 50%;
	padding: 10px;
}

.social img {
	height: 20px;
	width: 20px;
}

.end {
	text-align: center;
	margin-top: 70px;
	font: 500 25px calibri;
}

/* ======CODE WRITTEN BY AJELE OLUWADAMILARE (SH-IT-24440)====== */

@media screen and (max-width: 768px) {
	.details {
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 100px;
	}
	.testifiers {
		flex-direction: column;
		height: 70vh;
	}
}

/* =======Mobile screen========= */
@media screen and (max-width: 400px) {
	.nav-links ul {
		width: 150px;
		font: 300 16px calibri;
	}
	.logo img {
		height: 30px;
		width: 100px;
	}
	.main img {
		height: 90%;
		width: 90%;
	}
	.text {
		width: 90%;
	}
	.text .head {
		font-size: 26px;
		line-height: 30px;
	}
	.text .desc {
		font-size: 20px;
	}
	.btn {
		width: 250px;
	}
	.details {
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 100px;
	}
	.detail {
		width: 400px;
	}
	.detail span {
		font-size: 20px;
	}

	.collaboration {
		margin-top: 550px;
	}
	.collaboration > img {
		width: 100%;
	}
	.collaboration-text {
		margin-left: 0px;
	}
	.collaboration-text p {
		font-size: 21px;
		text-align: center;
		margin-top: 30px;
	}
	.c-div span {
		margin-bottom: 15px;
	}
	.collaboration,
	.footer-tabs,
	.footer-links,
	.testifiers {
		flex-direction: column;
	}
	.testimonies {
		height: 90vh;
	}
	.testifiers {
		height: 80vh;
	}
	.profiles {
		border-radius: 10px;
	}
	.subscribe {
		width: 80%;
		margin: 4%;
		margin-top: -150px;
	}
	.subscribe p {
		font-size: 20px;
	}
	.subscribe span {
		font-size: 16px;
	}
	.form input {
		width: 250px;
		margin-bottom: 20px;
	}
	.form button {
		margin-left: 0px;
		width: 250px;
	}
	.footer {
		height: 115vh;
	}
	.footer > img {
		margin-top: 250px;
		margin-bottom: 20px;
	}
	.footer-tabs {
		align-items: flex-start;
	}
	.location {
		width: 350px;
		font-size: 17px;
		margin-bottom: 20px;
	}
	.location img {
		margin: 10px 20px 0 0;
	}
	.message {
		margin: 10px 0;
		margin-left: -14px;
	}
	.footer-links ul {
		margin-top: 20px;
	}
	.socials {
		margin: 5px auto;
	}
	.end {
		font-size: 15px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}
