* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	height: 100vh;
	background-color: #181e2a;
	margin: 40px 8%;
}

/* ========= Top Nav ========= */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-links ul {
	width: 300px;
	font: 300 18px calibri;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #87aca5;
}

/* ========= Main ========= */

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main img {
	margin: 50px 0px;
	height: 60%;
	width: 60%;
}

.text {
	width: 60%;
	text-align: center;
}

.text .head {
	font-size: 38px;
	line-height: 55px;
	margin-bottom: 30px;
}

.text .desc {
	margin-bottom: 25px;
	font-size: 25px;
}

.btn {
	padding: 18px 15px;
	border-radius: 30px;
	border: none;
	outline: none;
	background-color: skyblue;
	color: #fff;
	font: 500 18px calibri;
	width: 300px;
}

/* ========= Details ========= */

.details-container {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 150px;
}

.details {
	height: 100vh;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(2, 1fr);
}

.detail {
	padding: 30px;
	text-align: center;
	width: 500px;
}

.detail img {
	height: 80px;
	margin-bottom: 30px;
}

.detail p {
	font: 600 24px calibri;
	margin-bottom: 10px;
}

.detail span {
	font: 100 18px calibri;
}

/* ========= Collaboration ========= */
.collaboration {
	margin: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.collaboration > img {
	width: 50%;
}

.collaboration-text {
	margin-left: 60px;
}

.collaboration-text p {
	font: 900 38px calibri;
	width: 300px;
	margin-bottom: 20px;
}

.collaboration-text span {
	margin-bottom: 20px;
	font: 100 19px calibri;
}
